.tab-open {
  background: #16181C!important;
  border-radius: 6px!important;
  color: #ffffff!important;
}

.avatar {
  width: 56px!important;
  height: 56px!important;
  background: #ffffff;
  padding: 0;
  margin: 0;
}
.avatar img {
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
}