.backdropEnter {
  opacity: 0;
}
.backdropEnterActive {
  opacity: 1;
  transition: opacity 200ms;
}

.backdropExit {
  opacity: 1;
}
.backdropExitActive {
  opacity: 0;
  transition: opacity 200ms;
}

.intro_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.align {
  display: grid;
  grid-template-columns: 1fr minmax(0, 560px) 1fr;
  grid-template-rows: 1fr;
  gap: 48px;
}