.grid {
  display: grid;

  grid-template-areas: 

        'header'
        'content'
        'footer';

  grid-template-rows: 56px 1fr 64px;
  grid-template-columns: 1fr;
}

.grid main {
  grid-area: content;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr minmax(0, 560px) 1fr;
  overflow: overlay;
}
.grid main section {
  grid-area: 1 / 2 / 1 / 3;

  display: grid;
  height: calc(100vh - 112px);
  margin: 0 1rem;
}
.grid main section > div{
  padding-bottom: 1rem;
}
.grid main section.full {
  grid-area: 1 / 1 / 1 / 4;
}
.grid header {
  grid-area: header;
}


.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
}

.header img {
  position: relative;
  width: 200px;
  height: inherit;
  padding: 4px 0;
}