.header {
  background-color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
}

.header img {
  position: relative;
  width: 200px;
  height: inherit;
  padding: 4px 0;
}