body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Manrope-regular;
  src: url('./assets/fonts/manrope/Manrope-Regular.ttf');
}
@font-face {
  font-family: Manrope-bold;
  src: url('./assets/fonts/manrope/Manrope-Bold.ttf');
}
@font-face {
  font-family: Manrope-light;
  src: url('./assets/fonts/manrope/Manrope-Light.ttf');
}
@font-face {
  font-family: Manrope-semibold;
  src: url('./assets/fonts/manrope/Manrope-SemiBold.ttf');
}

.App-content {
  margin: 32px 20.5px;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pb-50 {
  padding-bottom: 50px;
}