@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');



body {
  margin: 0;
  font-family: 'Manrope', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}


code {
  font-family: 'Roboto Mono', monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.justify-self-center {
  justify-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.ddMenuEnter {
  position: absolute;
  transform: translateY(+110%);
}
.ddMenuEnterActive {
  position: absolute;
  transform: translateY(0%);
  transition: all 0.5s ease;

}
.ddMenuExit {
  position: absolute;
  transform: translateY(0%);
}
.ddMenuExitActive {
  transform: translateY(+110%);
  transition: all 0.5s ease;
}


.backdropEnter {
  opacity: 0;
}
.backdropEnterActive {
  opacity: 1;
  transition: opacity 200ms;
}

.backdropExit {
  opacity: 1;
}
.backdropExitActive {
  opacity: 0;
  transition: opacity 200ms;
}

.brand-color {
  background-color: #F77E66;
}